<h2>Buscar centro</h2>

<form [formGroup]="buscadorCentrosForm" (ngSubmit)="buscar()">
    <mat-form-field appearance="fill">
        <mat-label>Denominación</mat-label>
        <input formControlName="denominacion" matInput placeholder="Denominación" value="">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Nima</mat-label>
        <input formControlName="nima" matInput placeholder="Nima" value="">
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Buscar</button>
</form>